{% extends 'webviews/template.html' %}

{% block content %}
<style>
  .alert-danger {
    border-radius: 12px !important; background: #FFF9F9 !important; border: none !important; color: #FF5B5B !important;
  }
  .alert-primary {
    border-radius: 12px !important; background: #F0F3FF !important; border: none !important; color: #3052FF !important;
  }
  .releasenotes {
    line-height: 1.8em;
  }
  html, body, div.container {
    background-color: transparent !important;
  }
</style>

{% if update and r/^[0-9]+\.[0-9]+\.[0-9]+$/g.test(update) %}
  <p class="alert alert-primary text-center px-3 py-3">
    <b>
      Version {{ update }} - Release notes
    </b>
  </p>

  <div class="releasenotes">
    {% include './releasenotes/' ~ update ~ '.html' %}
  </div>

{% else %}
  <p class="alert alert-danger text-center">
    Error loading release notes.
  </p>
{% endif %}

{% endblock %}

{% block head %}
{% endblock %}