{% extends 'webviews/template.html' %}
{% set rn_version = 'x' %}

{% block content %}
<style>
  .alert-danger {
    border-radius: 12px !important; background: #FFF9F9 !important; border: none !important; color: #FF5B5B !important;
  }
  .alert-primary {
    border-radius: 12px !important; background: #F0F3FF !important; border: none !important; color: #3052FF !important;
  }
  .releasenotes {
    line-height: 1.8em;
  }
  html, body, div.container {
    background-color: transparent !important;
  }
</style>

{% if update and r/^[0-9]+\.[0-9]+\.[0-9]+$/g.test(update) %}
  {% set rnData %}
    {% include './releasenotes/' ~ update ~ '.html' ignore missing %}
  {% endset %}

  {% if rnData.trim().length > 0 %}
    <p class="alert alert-primary text-center px-3 py-3">
      <b>
        Version {{ update }} - Release notes
      </b>
    </p>

    <div class="releasenotes">
      {{ rnData | safe }}
    </div>
  {% else %}
    <p class="alert alert-warning text-center px-3 py-3">
      <b>Releasenotes not found (invalid version) or not published (yet)</b>
    </p>
  {% endif %}

{% else %}
  <p class="alert alert-danger text-center px-3 py-3">
    <b>Invalid version.</b>
  </p>
{% endif %}

{% endblock %}

{% block head %}
{% endblock %}